
/src/_ReSharper.DocxToMoodleXML
/src/DomainTest/obj
/src/Domain/bin
/src/DomainTest/obj
/src/DocxToMoodleXML/obj
/src/_ReSharper.DocxToMoodleXML
/build.log
/src/DocxToMoodleXML.6.0.ReSharper.user
/src/_ReSharper.DocxToMoodleXML
/src/_ReSharper.DocxToMoodleXML
/src/MoodleConverter.6.0.ReSharper.user
/src/MoodleConverter.Web.UI/bin
/src/MoodleConverter.Web.UI/obj
/src/MoodleConverter.Domain.Tests/obj
/src/MoodleConverter.Domain.Tests/bin
/src/MoodleConverter.Domain/obj
/src/MoodleConverter.Domain/bin
/src/MoodleConverter.Data/obj
/src/MoodleConverter.Data/bin
/src/_ReSharper.MoodleConverter
/src/MoodleConverter.suo